.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 30px 0;
  gap: 10px;
  min-width: 400px;
}

.form_title,
.form_description {
  padding: 10px;
  font-size: 20px;
  min-width: 400px;
  border: 2px solid rgb(132, 132, 206);
  border-radius: 10px;
}
.form_title {
  height: 40px;
}

.form_description {
  height: 80px;
}

.button {
  width: 130px;
  min-height: 40px;
  background-color: rgb(132, 132, 206);
  font-weight: 700;
  font-size: 20px;
  padding: 5px;
}
